header.masthead {
  height: 100%;
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  h1 {
    padding-top: 1%;
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}
@media (min-width: 992px) {
  header.masthead {
    background-image: url('/img/front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: fixed;
    height: 100%;
    padding-top: calc(1rem + 106px);
    padding-bottom: 3rem;
    min-height: 100%;
    -webkit-box-shadow: 0px 25px 55px 0px $secondary;
    -moz-box-shadow: 0px 25px 55px 0px $secondary;
    box-shadow: 0px 25px 55px 0px $secondary;
    h1 {
      padding-top: 6%;

      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

    .btn-welcome {
      background-repeat: repeat-x;
      position: relative;
      margin-bottom: 10%;

      margin-top: 25%;

      -webkit-box-shadow: 0px 10px 55px 0px $secondary;
      -moz-box-shadow: 0px 10px 55px 0px $secondary;
      box-shadow: 0px 10px 55px 0px $secondary;
      opacity: 0.9;
    }
  }
}
